*{
    margin: 0;
    padding: 0;
}

body{
    background-image:linear-gradient(to right,blue,green);
    display: flex;
    justify-content: center;
    align-content: center;
}

.container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: repeat(6,60px);
    gap : 5px;
}

.output{
    grid-column: 1/-1;
    background-color: rgba(0,0, 0, 0.5);
    color:white;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: xx-large;
    height: auto;
}

.two-span{
    grid-column: span 2;
}

button{
    border-radius: 10px;
    font-size: larger;
}
button:hover{
    background-color: aqua;
    border: solid black 2px;
}

button:active{
    transform: translateY(2px);
    box-shadow: 0 2px 2px 0 #DBEDF3;
}
